.imagem .botao{
  position:relative;
}

ion-title{
  text-align: center;
  font-family: Serif;
  background-color: #013440;
}

.fundo{
  background-color: #013440;
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

.fundo2{
  background-color: #013440;
  width: auto;
  height: auto;
  padding-bottom: 12%;
}

.item{
  --background: #CAE6EB;
  --color: rgb(7, 66, 58);
  --border-radius: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.perfil{
  --background: #278080;
  color: rgba(255, 255, 255, 0.849);
  --border-radius: 11px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  p{
    color: #013440;
  }
}
