<ion-header [translucent]="true">
  <ion-toolbar style="--background: #3B7D8C;">
    <ion-item class="cima">
      <div button slot="start" [routerLink]="['/tabs/tab1']" style="margin: 0%;">
        <ion-icon
          name="arrow-back-outline"
          style="color: rgb(255, 255, 255, 0.822); font-size: 22px"
        ></ion-icon>
      </div>
      <ion-title>
        <h3 style="color: rgb(255, 255, 255, 0.822)">Clínica Santa Helena</h3>
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fundo">
    <div class="fundo2">
      <div class="bola">

          <img
            src="https://i.pinimg.com/1200x/23/11/6a/23116a08edade06f70892cb5e83f0e8e.jpg"
          />

        <div class="nome">
          <p>Clique no botão abaixo para mandar uma mensagem</p>
        </div>
      </div>

      <ion-fab>
        <ion-fab-button [routerLink]="['/agendamento']">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-fab-button>
      </ion-fab>

        <ion-card style="margin-top: 135%;">
          <ion-card-header>
            <ion-card-title style="color: #013440;">Clínica Santa Helena</ion-card-title>
            <ion-card-subtitle>Conheça nossa equipe e nosso diferencial</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            A clínica é pensada no atendimento para todas as idades, incluindo crianças e idosos.
            Sendo referencia no mercado, já recebeu famosos como Ivete Sangalo e Faustão.
            Nossos profissionais tem estudo internacional e amam o seu trabalho, o que proporciona
            responsabilidade, comprometimento e qualidade no serviço.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
          <ion-card-title style="color: #013440;">
            <h4>Horários:</h4>
          </ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <p>Das 9h ás 18h de segunda á sexta</p>
            <p>Das 8h ás 12h aos sábados</p>
          </ion-card-content>

          <ion-card-header>
            <ion-card-title style="color: #013440;">
              <h4>Endereço:</h4>
            </ion-card-title>
          </ion-card-header>
            <ion-card-content>
              <p>Rua Corenel Cintra Franco 125</p>
              <p>Avenida Brasil</p>
            </ion-card-content>
        </ion-card>

        <br>

    </div>
  </div>
</ion-content>



