<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="cima">
      <div button slot="start" [routerLink]="['/tabs/tab1']">
        <ion-icon
          name="arrow-back-outline"
          style="color: rgb(255, 255, 255); font-size: 22px"
        ></ion-icon>
      </div>
      <h1 style="color: rgb(202, 211, 224)">Clínica ViVaBem</h1>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fundo">
    <div class="fundo2">
      <div class="bola">

          <img
            src="https://i.pinimg.com/564x/d1/97/17/d19717f5478efdbd6226ea9e39097b68.jpg"
          />

        <div class="nome">
          <h1>Clinica 1</h1>
        </div>
      </div>

      <ion-fab>
        <ion-fab-button>
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>

        <ion-card style="background-color: #6b95a3; color: aliceblue">
          <h5>
            Odeio o modo como fala comigo E como corta o cabelo Odeio como
            dirigi o meu carro E odeio seu desmazelo Odeio suas enormes botas de
            combate E como consegue ler minha mente Eu odeio tanto isso em você
            Que até me sinto doente Odeio como está sempre certo E odeio quando
            você mente Odeio quando me faz rir muito Mais quando me faz
            chorar... Odeio quando não está por perto E o fato de não me ligar
            Mas eu odeio principalmente Não conseguir te odiar Nem um pouco Nem
            mesmo por um segundo Nem mesmo só por te odiar.
          </h5>
          <h4>Horários:</h4>
          <h4>Endereço:</h4>
        </ion-card>

    </div>
  </div>
</ion-content>
