.fundo{
  background-color: #013440;
  width: auto;
  height: 100%;
  padding-top: 2%;
}

.fundo2{
  background-color: #013440;
  width: auto;
  height: auto;
}

ion-title{
  text-align: center;
  font-family: Serif;
  background-color: #013440;
}

.cima{
  --background:#3B7D8C;
  background-color: #000;
  color: #fff;
}

.nome{
  background-color: #6db1c2;
  text-align: center;
  padding: 1%;
  margin: 3%;
  margin-bottom: 7%;
  margin-top: 4%;
  --background: #266574;
}

.bola{
  top: -33%;
  background-color: #6B95A3;
  width: 160%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  margin-left: -30%;
}

img{
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 40%;
  position: absolute;
  border-radius: 10%;
}

.nome{
  position: absolute;
  top: 89%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #6B95A3;
  color: rgb(218, 202, 202);
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

ion-card{
  margin-top: 148%;
  margin-left: 5%;
  width: 90%;
  font-family: 'Roboto Slab', serif;
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  padding-top: 2%;
}

ion-fab-button{
  --background: #eaeff1;
  --color: #013440;
}

ion-fab{
  position: absolute;
  top: 64%;
  left: 50%;
  margin: 0 0 0 -25px;
}








