.imagem .botao{
  position:relative;

}

ion-title{
  text-align: center;
  font-family: Serif;
  background-color: #013440;
}

.fundo{
  background-color: #013440;
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

.fundo2{
  background-color: #013440;
  width: auto;
  height: auto;
  padding-bottom: 12%;
}

.botãoA {
  --background: #CAE6EB;
  --color: rgb(7, 66, 58);
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: rgb(66, 124, 233);
  --padding-top: 10px;
  --padding-bottom: 10px;

  --border-radius: 0;
  --border-color: rgb(14, 158, 110);
  --border-style: solid;
  --border-width: 1px;
}

.botãoB {
  --background: #CAE6EB;
  --color: rgb(7, 66, 58);
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: rgb(28, 66, 136);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-radius: 0;
  --border-color: rgb(14, 158, 110);
  --border-style: solid;
  --border-width: 1px;
}
