<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="color: rgb(159, 216, 211);">Together</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fundo">
    <div class="fundo2">

      <ion-toolbar style="--background: #013440; margin-bottom: 3px;">
        <ion-searchbar style="--background: #eaeff1; --border-radius: 100px;"></ion-searchbar>
      </ion-toolbar>

      <ion-item button [routerLink]="['/agendamento']" class="item">
        <ion-avatar slot="start">
          <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0"/>
        </ion-avatar>
        <ion-label> Clínica 1 </ion-label>
      </ion-item>

      <ion-item button [routerLink]="['/agendamento']" class="item">
        <ion-avatar slot="start">
          <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0"/>
        </ion-avatar>
        <ion-label> Clínica 2 </ion-label>
      </ion-item>

      <ion-item button [routerLink]="['/agendamento']" class="item">
        <ion-avatar slot="start">
          <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0"/>
        </ion-avatar>
        <ion-label> Clínica 3 </ion-label>
      </ion-item>

      <ion-item button [routerLink]="['/agendamento']" class="item">
        <ion-avatar slot="start">
          <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0"/>
        </ion-avatar>
        <ion-label> Clínica 4 </ion-label>
      </ion-item>

    </div>
  </div>
</ion-content>
