<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="color: rgb(159, 216, 211);">Together</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="fundo">
<div class="fundo2">
  <ion-card button [routerLink]="['/sobre']">
    <ion-card-header>
      <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0" />
      <h4>Clínica ViVaBem</h4>
    </ion-card-header>

    <ion-card-content>
      a clínica perfeita para seu filho!
    </ion-card-content>
  </ion-card>

  <ion-card button [routerLink]="['/sobre']">
    <ion-card-header>
      <img src="https://th.bing.com/th/id/R.8fb13a97c72279c90f4fdbc65f680643?rik=JpttVqW0cgHRKQ&pid=ImgRaw&r=0" />
      <h4>Clínica ViVaBem</h4>
    </ion-card-header>

    <ion-card-content>
      a clínica perfeita para seu filho!
    </ion-card-content>
  </ion-card>

</div>
</div>
</ion-content>
