<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="color: rgb(159, 216, 211)">Together</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fundo">


      <ion-avatar>
        <img src="https://pbs.twimg.com/media/FqA5kADWAAAlhVz?format=jpg&name=large" />
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-avatar>

      <ion-card style="padding: 1%; padding-right: 5%; margin: 3,7%; margin-top: 8%; --background: #eaeff1; border-radius: 20px;">
          <ion-list style="background-color: #eaeff1;">
            <ion-item style="--background: #eaeff1;">
              <ion-icon name="person-outline"></ion-icon>
              <ion-label style="margin-left: 5%;">Manuela mais bonito</ion-label>
            </ion-item>

            <ion-item style="--background: #eaeff1;">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label style="margin-left: 5%;">manufelcão@wepink.com</ion-label>
            </ion-item>
          </ion-list>
      </ion-card>


  </div>
</ion-content>
