<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> Clinica ViVaBem </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item >
      <ion-input labelPlacement="stacked" type="text" placeholder="Mensagem">
      </ion-input>
    </ion-item>
  </ion-toolbar>
</ion-footer>

